div {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
}

.row {
}

.column-1 {
}

.column-2 {
  width: 205px;
  display: block;
  float: right;
}

.div1 {
  float: left;
}

.div2 {
  float: left;
}

.div3 {
  float: right;
}
